@font-face {
  font-family: "Mulan";
  src: url("../mulan/Mulan.ttf") format("truetype");
}
@font-face {
  font-family: "Dino";
  src: url("../dino-star-font/DinoStarDemo-z85r1.ttf") format("truetype");
}
